# Commented variables are meant to be loaded from the env [gitlab/github]
# this file must be dumped to .env on the deploy pipeline

# enable debug, just keep this line, comment it to disable
DEBUG=true

# Domain related data
LDAP_URI=ldap://openldap
DEFAULT_DOMAIN=chagod.software
LDAP_BASE_DN=dc=chagod,dc=software
LDAP_SEARCH_BASE=dc=chagod,dc=software
LDAP_ADMIN_PASSWORD=Y0urS3cur3P4ssw0r6!
LDAP_READONLY_USER=true
LDAP_READONLY_USER_USERNAME=postfix
LDAP_READONLY_USER_PASSWORD=P0stf1x!

MAIL_ADMIN_USER=sysadmin
#MAIL_ADMIN_PASSWORD=---
DEFAULT_MAILBOX_SIZE=200M
MAX_MESSAGESIZE=10485864 # 10M
